@inherits LayoutComponentBase

<MatAnchorUtils></MatAnchorUtils>

<MatAppBarContainer>
    <MatAppBar Fixed="true">
        <MatAppBarRow>
            <MatAppBarSection>
                <MatIconButton Icon="menu"></MatIconButton>
                <MatAppBarTitle>Agile Team Tools</MatAppBarTitle>
            </MatAppBarSection>
        </MatAppBarRow>
    </MatAppBar>

    <MatAppBarContent>
        <div class="body-wrapper">
            @Body
        </div>
    </MatAppBarContent>
</MatAppBarContainer>

<MatPortalHost></MatPortalHost>