@page "/{TeamId}/estimate"

<input @bind-value="UserName" placeholder="User Name"/>

<input @bind-value="EstimatedValue" placeholder="Estimate"/>
<button @onclick="Send">Send</button>
<button @onclick="Reset">Reset</button>
<button @onclick="Show">Show</button>

@foreach(var message in Messages)
{
    <div>@message.Username</div>
    <div>@message.Body</div>
}
